{% load posts_tags %}

{% for post in posts %}

    <div>

        <h2>
            <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
                {{ post.title }}
            </a>
        </h2>

        <p class="blockquote-footer mt-1">
            <em>Published at {{ post.published_at }} by {{ post.author }}</em>
        </p>

        <p>
            {{ post.content| markdown | truncatewords:20 }}
        </p>

        {% include 'general_post/tag.html' with post=post %}

    </div>

    <hr />

{% endfor %}
