{% extends 'base.html' %}

{% block title %}post list{% endblock %}


{% block body %}
    <div class="container mt-3">
        <main class="col-9">
            {% block main %}
                {% for post in posts %}
                    <div>
                        <h2>
                            <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
                                {{ post.title }}
                            </a>
                        </h2>
                        <p class="blockquote-footer mt-1">
                            <em>Published at {{ post.published_at }} by {{ post.author }}</em>
                        </p>
                        <blockquote class="blockquote">{{ post.content|truncatewords:20|linebreaks }}</blockquote>
                        </div>
                        <hr />
                    {% endfor %}
                {% endblock %}
        </main>
        <aside class="col-3">
            {% block sidebar %}
            {% endblock %}
        </aside>
    </div>
{% endblock %}