{% extends 'base.html' %}

{% block title %}share post{% endblock %}


{% block body %}

    <div class="w-100 mt-5 d-flex flex-column justify-content-center align-items-center">

        <h1>Share post to friends by e-mail</h1>

        <hr />

        <form method="post" class="mt-5">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="SEND E-MAIL">
        </form>

        {% include 'email/message.html' with messages=messages %}

    </div>

{% endblock %}
